{% extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="section-left d-flex flex-column">
            <h3 class="d-flex justify-content-center mb-4">{{ meal.name }}  </h3></br>
            <p class="d-flex justify-content-center     text-muted"><medium>Category : {{ meal.category }}</medium></p>
            <p class="d-flex justify-content-center     text-muted"><medium>Nationalité : {{ meal.area}}</medium></p>
            <div class="d-flex justify-content-center">
                <img src="{{ meal.image }}" alt="{{ meal.name }}"   width="400">
            </div>
        </div>
        <div class="section-right d-flex flex-column">
            <h3 class="d-flex justify-content-center mb-4">Ingredients</h3>
            <div class="d-flex">
                <ul class="list-group">
                    {% for ingredient in meal.ingredient %}
                        <li class="list-group-item">{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="">Instructions</h3>
        {% for instruction in meal.instruction %}
            <p>{{ instruction.description}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
